@model IndexViewModel

<h1>Welcome to /vg/station's statistics viewer!</h1>
<div id='container-front' class='centerpadded-small'>
    <div class='floatcontainer'>
        <p>Cool stuff to note:</p>
        <div class='floatleft'>
            <p class='indented'>Number of matches logged: @Model.MatchCount</p>
            <p class='indented'>Number of nukes set off: @Model.NukeCount</p>
            <p class='indented'>Explosions per match: @Model.ExplosionRate</p>
            <p class='indented'>Deaths per match: @Model.DeathRatio</p>
        </div>
        <div class='floatleft'>
            <p>Map play percentage (last 30 days):</p>
            @{
                foreach (var mapx in Model.MapPlayRates)
                {
                    <p class='indented'>@mapx.Name: @mapx.PlayRate</p>
                }

            }
        </div>
    </div>
    <p class='centertext warn'>Everything here is very much a work in progress. As such, match history may be wiped at any time.</p>
    @if (Model.LastMatch != null)
    {
    <p class='centertext' style='margin-bottom: 0'>Last match:</p>
    <a href='/match/@Model.LastMatch.Id' style="width:100%">
        <table class="single-match" id='match-container'>
            <thead>
                <tr>
                    <th>Station Name</th>
                    <th>Map</th>
                    <th>Date &amp; Time</th>
                    <th>Crew Score</th>
                    <th>Player Deaths</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @await Html.PartialAsync("~/Views/Components/_matchBar.cshtml", Model.LastMatch)
            </tbody>
        </table>
    </a>
    }
</div>